<html>
  <head>
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/gridTable.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <table style="width: 100%;height: 100%" >
    <% rows = 8; cols = 8 
       rows.times do  |r| %>
       <tr>
         <% cols.times do |c| %>
           <% cr = "#{c},#{r}" %>
           <td onmouseover="javascript:gridHover(<%= cr %>);" 
               oncontextmenu="javascript:gridAlt(<%= cr %>);return false;" 
               onclick="javascript:gridSelect(<%= cr %>);" 
               ondblclick="javascript:gridRun(<%= cr %>);"> 
             <%= cr %> 
           </td>
         <% end # cols %>
      </tr>
    <% end # rows %>
    </table>
  
  </body>
</html>
